<aside class="main-sidebar sidebar-custom elevation-4">

    <div class="brand-link">
        <div class="logo-container">
            <img src="./assets/Imagenes/LogoSistema.png" alt="" class="logo-image">
        </div>
    </div>

    <div
        class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">

        <div class="os-padding">
            <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">

                <div class="user-panel mt-4 pb-3 mb-3 d-flex">
                    <figure>
                        <img src="{{ImgPerfil == null || ImgPerfil == ''?'./assets/Imagenes/user2-160x160.jpg' :ImgPerfil}}"
                            class="img-circle elevation-2" alt="">
                    </figure>
                    <div class="info">
                        <figcaption>
                            <small>
                                <p class="truncate-text d-block">{{Gestor.ges_nombres}} <br>{{Gestor.ges_apellidos}}</p>
                            </small>
                        </figcaption>
                    </div>
                </div>


                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item">
                            <a href="#/inicio" class="nav-link">
                                <i class="fa-solid fa-house"></i>
                                <p>
                                    &nbsp;&nbsp;INICIO
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="MenuClienteCount > 0">
                            <a [routerLink]="['/cliadmin','O']" class="nav-link">
                                <i class="fa-solid fa-user-shield"></i>
                                <p>
                                    &nbsp;&nbsp;CLI OPERATIVOS
                                    <span class="right badge badge-info"
                                        *ngIf="MenuClienteCount > 1">{{MenuClienteCount}}</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="MenuGestionarExiste">
                            <a href="#/cliadmin" class="nav-link">
                                <i class="fa-solid fa-user-tie"></i>
                                <p>&nbsp;&nbsp;MIS CLIENTES</p>
                            </a>
                        </li>
                        <!-- <li class="nav-item" *ngIf="MenuAdminitCount > 0">
                            <a href="#/administracion" class="nav-link">
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                                <p>
                                    &nbsp;&nbsp;ADMINISTRACI&Oacute;N
                                    <span class="right badge badge-info"
                                        *ngIf="MenuAdminitCount > 1">{{MenuAdminitCount}}</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link">
                                <i class="fa-solid fa-user-gear"></i>
                                <p>&nbsp;&nbsp;CLIENTES
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview ml-2">
                                <li class="nav-item" *ngIf="MenuClienteCount > 0">
                                    <a [routerLink]="['/cliadmin','O']" class="nav-link">
                                        <i class="fa-solid fa-user-shield"></i>
                                        <p>
                                            &nbsp;&nbsp;Clientes operativo
                                            <span class="right badge badge-info"
                                                *ngIf="MenuClienteCount > 1">{{MenuClienteCount}}</span>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item" *ngIf="MenuGestionarExiste">
                                    <a href="#/cliadmin" class="nav-link">
                                        <i class="fa-solid fa-user-tie"></i>
                                        <p>&nbsp;&nbsp;Clientes</p>
                                    </a>
                                </li>
                            </ul>
                        </li> -->

                        <li class="nav-item" *ngFor="let menu of Menus1">
                            <a href="#/{{menu.men_url}}" class="nav-link">
                                <i class="{{menu.men_icono}}"></i>
                                <p>
                                    &nbsp;&nbsp;{{menu.men_descripcion}}
                                    <!-- <span class="right badge badge-info">{{menu.count}}</span> -->
                                </p>
                            </a>
                        </li>

                        <!-- <li class="nav-item menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="./index.html" class="nav-link active">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Dashboard v1</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index2.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Dashboard v2</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./index3.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Dashboard v3</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>  -->


                    </ul>
                </nav>
            </div>
        </div>

    </div>

</aside>