<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card direct-chat direct-chat-primary">
                    <div class="card-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="card-title">Chat Temporal</h3>
                        <div class="card-tools">
                            <!-- <span title="3 New Messages" class="badge badge-primary">3</span> -->
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="direct-chat-messages">

                            <div class="direct-chat-msg" *ngFor="let sms of Sms_Recivido">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name {{sms.user == '0'?'float-left':'float-right'}}">{{sms.user}}</span>
                                    <span class="direct-chat-timestamp {{sms.user == '0'?'float-right':'float-left'}} ">23 Jan 2:00 pm</span>
                                </div>

                                <img class="direct-chat-img" src="./assets/dist/img/user2-160x160.jpg" alt="message user image">

                                <div class="direct-chat-text">
                                    {{sms.message}}
                                </div>

                            </div>

<!-- 
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-infos clearfix">
                                    <span class="direct-chat-name float-right">Sarah Bullock</span>
                                    <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                                </div>

                                <img class="direct-chat-img" src="./assets/dist/img/user2-160x160.jpg" alt="message user image">

                                <div class="direct-chat-text">
                                    You better believe it!
                                </div>

                            </div> -->


                        </div>


                    </div>

                    <div class="card-footer">
                        <form action="#" method="post">
                            <div class="input-group">
                                <input type="text" name="message" placeholder="Mensaje ..." 
                                (keydown.enter)="sendMessage()"
                                [formControl]="mensaje" class="form-control">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-primary" (click)="sendMessage()">Enviar</button>
                                </span>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

        <!-- <script src="https://cdn.jsdelivr.net/npm/@microsoft/signalr@3.1.8/dist/browser/signalr.min.js"></script>
        <script src="https://unpkg.com/rxjs@^7/dist/bundles/rxjs.umd.min.js"></script>
        
        <script type="text/javascript">
            const connection = new signalR.HubConnecctionBuilder()
            .withUrl("https://localhost:7232/api/message")
            .build();
            connection.start()
            .then(()=>{console,log("se conecto")})
            .catch(()=>console.log(error.message))
        </script> -->

        <!-- master datail page -->


        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>