<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
    <div class="container-fluid">
        <h4 class="NombrePage">{{PaginaNombre}}</h4>
        <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <!-- BARRA PRINCIPAL -->
                    <section class="horizontal-center" *ngIf="TituloFormulario == ''">
                        <div class="card-header" style="background-color: var(--color-formulario-primario);">
                            <div class="btn-group" role="group">
                                <button class="btnHome" (click)="ListarElementos(1)"><i
                                        class="fa-solid fa-house"></i></button>

                            </div>
                            <div class="btn-group float-right" role="group">

                                <label type="text-info" class="formControl CenterItemColorSecundario center ml-1"
                                    style="width: 50%;" *ngIf="itemBusqueda.value !== ''">{{itemBusqueda.value}}</label>

                                <button type="button" class="btnFilter ml-1" data-toggle="dropdown"><i
                                        class="bi bi-funnel"></i></button>

                                <div class="OcultarMax450px" style="width: 50%;">
                                    <input *ngIf="itemBusqueda.value !== '' && (itemBusqueda.value != 'Estado')"
                                        id="txtValorBusqueda" [formControl]="txtBusqueda"
                                        (keydown.enter)="FiltrarElemento()" (keyup)="ConvertirMayusculas()"
                                        class="form-control ml-2" type="text" placeholder="Buscar" autofocus>
                                </div>
                                <div class="ml-2  OcultarMax450px">
                                    <select class="form-select"
                                        *ngIf="itemBusqueda.value !== '' && itemBusqueda.value === 'Estado'"
                                        [formControl]="txtBusqueda" [spellcheck]="false" style="width: 150px;">
                                        <option *ngFor="let estado of ParametrosEstado" [value]="estado.value">
                                            {{estado.name}}
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <button type="button" class="btnBuscar ml-2 OcultarMax450px"
                                        *ngIf="txtBusqueda.value !== ''" (click)="FiltrarElemento()"><i
                                            class="bi bi-search"></i></button>
                                </div>


                                <button *ngIf="LecturaEscritura != 0" type="button" class="btnAgregar ml-2"
                                    (click)="AgregarEditarElemento(1)"><i class="bi bi-plus-circle-dotted"></i></button>

                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" (click)="GetBusquedaPor(item)"
                                        *ngFor="let item of ParametrosDeBusqueda">{{item}}</a>
                                </div>
                                <section>
                                    <button *ngIf="this.ListaTrabajos.length>0" class="btnImprimir ml-2" data-toggle="dropdown" ><i
                                        class="bi bi-printer"></i></button>
                                    <div class="dropdown-menu" role="menu1">
                                        <a class="dropdown-item col-md-4" (click)="GetDescargaPor(d)"
                                            *ngFor="let d of ParametrosDeDescarga">{{d}}</a>
                                    </div> 
                                </section>
                            </div>
                        </div>
                        <div class="card-header OcultarMin450px"
                            style="background-color: var(--color-formulario-primario);">

                            <div class="btn-group float-right" role="group">
                                <input
                                    *ngIf="itemBusqueda.value !== '' && (itemBusqueda.value === 'Descripción' ||itemBusqueda.value === 'Descripción Incompleta')"
                                    id="txtValorBusqueda" style="width: 80%;" [formControl]="txtBusqueda"
                                    (keydown.enter)="FiltrarElemento()" (keyup)="ConvertirMayusculas()"
                                    class="form-control ml-2" type="text" placeholder="Buscar" autofocus>

                                <select class="form-select"
                                    *ngIf="itemBusqueda.value !== '' && itemBusqueda.value === 'Estado'"
                                    [formControl]="txtBusqueda" [spellcheck]="false" style="width: 150px;">
                                    <option *ngFor="let estado of ParametrosEstado" [value]="estado.value">
                                        {{estado.name}}
                                    </option>
                                </select>

                                <button type="button" class="btnBuscar ml-2" *ngIf="txtBusqueda.value !== ''"
                                    (click)="FiltrarElemento()"><i class="bi bi-search"></i></button>

                            </div>
                        </div>

                    </section>
                    <!-- FORMULARIO PARA AGREGAR ELEMENTOS -->
                    <section class="vertical-center" *ngIf="TituloFormulario != ''">
                        <div class="card-body" style="background-color: var(--color-formulario-secundario);">
                            <div class="card-header" style="background-color: var(--color-formulario-primario);">
                                <button type="button" (click)="CerrarAgregarEditarElemento()"
                                    class="btn btn-close float-right"></button>
                                <h2 class="Centrar">{{TituloFormulario}} {{PaginaNombre.toLocaleLowerCase()}}</h2>
                            </div>
                            <div class="card-body" style="background-color: var(--color-formulario-secundario);">
                                <form [formGroup]="TrabajosForms">
                                    <div class="row">

                                        <div class="col-lg-4 col-12" *ngIf="TituloFormulario != 'Agregar'">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="id_trabajo" placeholder=""
                                                    formControlName="id_trabajo">
                                                <label class="truncate-text" for="id_trabajo">Id trabajo</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 col-12">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="cli_identificacion"
                                                            placeholder="" formControlName="cli_identificacion"
                                                            (keyup)="Cliente.patchValue('')">
                                                        <label class="truncate-text"
                                                            for="cli_identificacion"><small>*</small>Cedula/Ruc/Pasaporte</label>
                                                        <Section>
                                                            <div class="error-message" *ngIf="TrabajosForms.get('cli_fecha_nacimiento')?.hasError('required') 
                                                        && TrabajosForms.get('cli_fecha_nacimiento')?.touched">
                                                                <span style="color: brown;">*Campo obligatorio.</span>
                                                            </div>
                                                        </Section>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-6 Centrar"
                                                    *ngIf="TituloFormulario != 'Visualizar'">
                                                    <small>
                                                        <button *ngIf="LecturaEscritura != 0" type="button"
                                                            class="btnBuscar"
                                                            [disabled]="TrabajosForms.get('cli_identificacion')!.value! == ''"
                                                            (click)="BuscarCliente(TrabajosForms.get('cli_identificacion')!.value!)">
                                                            <i class="fa-solid fa-magnifying-glass"></i>
                                                        </button>
                                                        <button *ngIf="LecturaEscritura != 0" type="button"
                                                            class="btnAgregar" (click)="AbrirModalCliente()">
                                                            <i class="bi bi-plus-circle-dotted"></i>
                                                        </button>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="row mb-3">
                                                <div class="col-lg-10 col-9">
                                                    <div class="form-floating ">
                                                        <input type="text" class="form-control" id="clinombres"
                                                            placeholder="" [formControl]="Cliente">
                                                        <label class="truncate-text" for="clinombres">Nombres</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-2">
                                                    <small>
                                                        <button *ngIf="LecturaEscritura != 0" type="button"
                                                            class="btnVer" [disabled]="Cliente.value == ''"
                                                            (click)="VerCliente()">
                                                            <i class="fa-solid fa-eye"></i>
                                                        </button>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-4 col-12">
                                            <div class="row container-fluid mb-3">
                                                <div class="col-sm">
                                                    <span><small>*</small>Tipo de trabajo</span>
                                                    <select class="form-select"
                                                        (click)="TipoTrabajoList.length != 0?null:ListarTipoTrabajo()"
                                                        formControlName="tra_id_tipo_trabajo">
                                                        <option *ngIf="TipoTrabajoList.length == 0" disabled>Cargando
                                                            ...
                                                        </option>
                                                        <option *ngFor="let s of TipoTrabajoList"
                                                            [value]="s.trab_tip_descripcion">
                                                            {{s.trab_tip_descripcion}}
                                                        </option>
                                                    </select>
                                                    <Section>
                                                        <div class="error-message" *ngIf="TrabajosForms.get('tra_id_tipo_trabajo')?.hasError('required') 
                                                    && TrabajosForms.get('tra_id_tipo_trabajo')?.touched">
                                                            <span style="color: brown;">*Campo obligatorio.</span>
                                                        </div>
                                                    </Section>
                                                </div>
                                                <div class="col-lg-1 col-12 d-flex justify-content-center align-items-center"
                                                    *ngIf="TituloFormulario != 'Visualizar'">
                                                    <small>
                                                        <button *ngIf="LecturaEscritura != 0" type="button"
                                                            class="btnAgregar" (click)="AbrirModalTipoTrabajos()">
                                                            <i class="bi bi-plus-circle-dotted"></i>
                                                        </button>
                                                    </small>
                                                </div>

                                            </div>
                                        </div> -->
                                        <div class="col-lg-4 col-12">
                                            <div class="col-sm">
                                                <span><small>*</small>Tipo de trabajo</span>
                                                <select class="form-select"
                                                    (click)="TipoTrabajoList.length != 0?null:ListarTipoTrabajo()"
                                                    formControlName="tra_id_tipo_trabajo">
                                                    <option  value="" disabled selected>
                                                        Seleccione ...
                                                    </option>
                                                    <option *ngIf="TipoTrabajoList.length == 0" disabled>Cargando
                                                        ...
                                                    </option>
                                                    <option *ngFor="let s of TipoTrabajoList"
                                                        [value]="s.trab_tip_descripcion">
                                                        {{s.trab_tip_descripcion}}
                                                    </option>
                                                </select>
                                                <Section>
                                                    <div class="error-message" *ngIf="TrabajosForms.get('tra_id_tipo_trabajo')?.hasError('required') 
                                                    && TrabajosForms.get('tra_id_tipo_trabajo')?.touched">
                                                        <span style="color: brown;">*Campo obligatorio.</span>
                                                    </div>
                                                </Section>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="tra_ruc" placeholder=""
                                                    formControlName="tra_ruc">
                                                <label class="truncate-text"
                                                    for="tra_ruc"><small>*</small>Ruc-Emp</label>
                                                <Section>
                                                    <div class="error-message" *ngIf="TrabajosForms.get('tra_ruc')?.hasError('required') 
                                                && TrabajosForms.get('tra_ruc')?.touched">
                                                        <span style="color: brown;">*Campo obligatorio.</span>
                                                    </div>
                                                    <div class="error-message"
                                                        *ngIf="TrabajosForms.get('tra_ruc')?.value != ''
                                            ? validar.V_LongitudFija(TrabajosForms.get('tra_ruc')?.value!,13)  === false:null ">
                                                        <span style="color: brown;">*Caracteres requeridos 10</span>
                                                    </div>
                                                    <div class="error-message"
                                                        *ngIf="TrabajosForms.get('tra_ruc')?.value != ''
                                            ? validar.V_SoloNumeros(TrabajosForms.get('tra_ruc')?.value!)  === false:null ">
                                                        <span style="color: brown;">*Caracteres no permitidos</span>
                                                    </div>
                                                </Section>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="tra_descripcion"
                                                    placeholder="" formControlName="tra_descripcion">
                                                <label class="truncate-text"
                                                    for="tra_descripcion"><small>*</small>Descripción</label>
                                                <Section>
                                                    <div class="error-message" *ngIf="TrabajosForms.get('tra_descripcion')?.hasError('required') 
                                                && TrabajosForms.get('tra_descripcion')?.touched">
                                                        <span style="color: brown;">*Campo obligatorio.</span>
                                                    </div>
                                                </Section>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="tra_direccion"
                                                    placeholder="" formControlName="tra_direccion">
                                                <label class="truncate-text" for="tra_direccion">Direccion</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="tra_telefono" placeholder=""
                                                    formControlName="tra_telefono">
                                                <label class="truncate-text" for="tra_telefono">Telefono</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="tra_correo" placeholder=""
                                                    formControlName="tra_correo">
                                                <label class="truncate-text" for="tra_correo">Correo</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="tra_observacion"
                                                    placeholder="" formControlName="tra_observacion">
                                                <label class="truncate-text" for="tra_observacion">Observacion</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12" *ngIf="TituloFormulario != 'Agregar'">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="tra_fecha_act"
                                                    placeholder="" formControlName="tra_fecha_act">
                                                <label class="truncate-text" for="tra_fecha_act">Fecha de
                                                    Activación</label>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 col-12" *ngIf="TituloFormulario != 'Agregar'">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="tra_fecha_desact"
                                                    placeholder="" formControlName="tra_fecha_desact">
                                                <label class="truncate-text" for="tra_fecha_desact">Fecha de
                                                    Desactivación</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12" *ngIf="TituloFormulario != 'Agregar'">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="tra_fecha_in" placeholder=""
                                                    formControlName="tra_fecha_in">
                                                <label class="truncate-text" for="tra_fecha_in">Fecha de Ingreso</label>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 col-12" *ngIf="TituloFormulario != 'Agregar'">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="tra_fecha_up" placeholder=""
                                                    formControlName="tra_fecha_up">
                                                <label class="truncate-text" for="tra_fecha_up">Fecha de
                                                    Actualización</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="Centrar">
                                                <div class="btn-group">
                                                    <div class="form-group">
                                                        <label class="truncate-text"
                                                            for="tra_esactivo">Estado</label>&nbsp;
                                                        <div class="custom-control custom-switch Centrar"
                                                            title="Estado">
                                                            <input type="checkbox" class="custom-control-input"
                                                                formControlName="tra_esactivo" name="estado"
                                                                id="tra_esactivo">
                                                            <label class="custom-control-label"
                                                                for="tra_esactivo">{{TrabajosForms.get('tra_esactivo')!.value
                                                                == false ?
                                                                'Inactivo' : 'Activo'}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="card-footer" style="background-color: var(--color-formulario-terciario);">
                                <div class="row Centrar ">
                                    <small>
                                        <button class="btnAceptar"
                                            [disabled]="TrabajosForms.invalid || Cliente.value == ''"
                                            *ngIf="TituloFormulario != 'Visualizar'" id="btnAgregar"
                                            (click)="ActDesControles(1);GuardarObjeto(TrabajosForms.value);ActDesControles(0)">Guardar</button>
                                        <button class="btnCancelar ml-3"
                                            (click)="CerrarAgregarEditarElemento()">Cancelar</button>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- FORMULARIO PARA LISTAR ELEMENTOS -->
                    <section class="expand-bottom" *ngIf="TituloFormulario == ''">
                        <div class="card-body" style="background-color: var(--color-formulario-secundario);"
                            *ngIf="!loading ;else loadingOrError">
                            <div class="card-footer" style="background-color: var(--color-formulario-terciario);"
                                *ngIf="ListaTrabajos.length != 0">
                                <div class="float-right clearfix">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btnOk btn-sm dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <label id="lblFiltro0"></label>
                                            </button>
                                            <ul class="dropdown-menu" x-placement="top-start">
                                                <li class="dropdown-item" style="cursor: pointer;"
                                                    (click)="FiltrarPor('Identificacion',0)">
                                                    <a>Identificación</a>
                                                </li>
                                                <li class="dropdown-item" style="cursor: pointer;"
                                                    (click)="FiltrarPor('Nombres',0)">
                                                    <a>Nombres</a>
                                                </li>
                                                <li class="dropdown-item" style="cursor: pointer;"
                                                    (click)="FiltrarPor('Ruc',0)">
                                                    <a>Ruc</a>
                                                </li>


                                            </ul>
                                        </div>

                                        <input type="text" id="TxtFiltro0" (keyup)="FiltrarLista(0,0)"
                                            class="form-control form-control-sm">

                                        <div class="input-group-append">
                                            <button type="button" class="btn btnOk btn-sm" (click)="VaciarFiltro(0)">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-responsive-md" *ngIf="ListaTrabajos.length != 0">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th id="ThIdentificacion0">Identificacion</th>
                                        <th id="ThDescripcion0">Nombres</th>
                                        <th id="ThRuc0">Ruc-Emp</th>
                                        <th class="OcultarMax450px">Ingreso</th>
                                        <!-- <th class="OcultarMax450px">Actualización</th> -->
                                        <th class="OcultarMax450px" *ngIf="LecturaEscritura != 0">Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let datos of DatosCargaMasiva; let i = index">
                                        <th>{{InicioPaginacion + i + 1}}</th>
                                        <th>{{datos.cli_identificacion}}</th>
                                        <th>{{datos.cli_nombres}}</th>
                                        <th>{{datos.tra_ruc}}</th>
                                        <th class="OcultarMax450px">{{datos.tra_fecha_in==null?'':Fechas.fechaCortaAbt(datos.tra_fecha_in)}}</th>
                                        <!-- <th class="OcultarMax450px">{{Fechas.fechaCorta(datos.tra_fecha_up)}}</th> -->
                                        <th class="OcultarMax450px ContenidoCentrado" *ngIf="LecturaEscritura != 0">
                                            <div class="custom-switch">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="idEstado_{{datos.id_trabajo}}"
                                                    [checked]="datos.tra_esactivo==='1'?true:false" name="estado"
                                                    (change)="ActualizaEstado(datos)">
                                                <label class="custom-control-label"
                                                    for="idEstado_{{datos.id_trabajo}}"></label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="btn-group" role="group">
                                                <button class="btnVer" (click)="CargarElemento(datos,3)">
                                                    <i class="fa-regular fa-eye"></i></button>
                                                <button *ngIf="LecturaEscritura != 0" class="ml-2 btnEditar"
                                                    (click)="CargarElemento(datos,2)">
                                                    <i class="bi bi-pencil-fill"></i></button>
                                                <button *ngIf="LecturaEscritura != 0" class="ml-2 btnEliminar"
                                                    (click)="EliminarElemento(datos)">
                                                    <i class="bi bi-trash"></i></button>

                                            </div>
                                        </th>

                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="card-footer" style="background-color: var(--color-formulario-terciario);"
                            *ngIf="ListaTrabajos.length != 0 ">
                            <div class="row">
                                <div class="col-lg-2 col-6">
                                    <p>Total<strong>&nbsp;{{ContadorDatosGeneral}}</strong></p>
                                </div>
                                <div class="col-lg-2 col-6">
                                    <div *ngIf="ContadorDatosGeneral != ContadorDatos">
                                        <p>Resultado Filtro<strong>&nbsp;{{ContadorDatos}}</strong></p>
                                    </div>

                                </div>
                                <div class="col-lg-2 col-6">
                                    <div>
                                        <p>Elementos<strong>&nbsp;{{InicioPaginacion+1}}</strong>-<strong>&nbsp;{{InicioPaginacion
                                                + RangoPaginacion}}</strong></p>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6">
                                    <!-- <p>Grupo<strong>&nbsp;1</strong>-<strong>&nbsp;10</strong></p> -->

                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="form-group">
                                        <div class="float-right">
                                            <small>
                                                <button (click)="InicioPaginacion == 0?BtnPrevious(0,1):BtnPrevious(0)"
                                                    *ngIf="FraccionDatos !== 0||InicioPaginacion !==0" type="button"
                                                    class="BtnNextPrevious" aria-label=""
                                                    style="display: inline-block;"><i
                                                        class="bi bi-arrow-left-circle"></i>
                                                    Anterior</button>

                                                <button
                                                    *ngIf="(InicioPaginacion + RangoPaginacion) < ContadorDatos||ContadorDatos == RangoDatos"
                                                    (click)="(InicioPaginacion + RangoPaginacion) == ContadorDatos?BtnNext(0,1):BtnNext(0)"
                                                    type="button" class="BtnNextPrevious ml-2 " aria-label=""
                                                    style="display: inline-block;">Siguiente <i
                                                        class="bi bi-arrow-right-circle"></i></button>
                                            </small>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </section>


        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>

<section class="modal" id="ModalCliente">
    <div class="modal__container ">
        <div class="col-sm alert" style="background-color: var(--color-formulario-primario);">
            <button type="button" (click)="CerrarModalCliente()" class="btn btn-close float-right"></button>
            <h2 class="modal__title Centrar">{{ModoVistaCliente == true?'Ver':'Agregar'}} Cliente</h2>

            <section class="vertical-center" *ngIf="TituloFormulario != ''">
                <div class="card-body" style="background-color: var(--color-formulario-secundario);">
                    <div class="card-body" style="background-color: var(--color-formulario-secundario);">
                        <form [formGroup]="ClienteForms">
                            <div class="row">
                                <div class="col-lg-2 col-12">
                                    <div class="form-group">
                                        <span><small>*</small>Tipo id</span>
                                        <select style="height: 35px;" class="form-select"
                                            formControlName="cli_tipo_identificacion">
                                            <option *ngFor="let s of TipoIdentificacion" [value]="s.value">
                                                {{s.name}}
                                            </option>
                                        </select>
                                        <Section>
                                            <div class="error-message" *ngIf="ClienteForms.get('cli_tipo_identificacion')?.hasError('required') 
                                        && ClienteForms.get('cli_tipo_identificacion')?.touched">
                                                <span style="color: brown;">*Campo obligatorio.</span>
                                            </div>
                                        </Section>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cli_identificacion" placeholder=""
                                            formControlName="cli_identificacion">
                                        <label class="truncate-text"
                                            for="cli_identificacion"><small>*</small>Identificacion</label>
                                        <Section>
                                            <div class="error-message" *ngIf="ClienteForms.get('cli_identificacion')?.hasError('required') 
                                        && ClienteForms.get('cli_identificacion')?.touched">
                                                <span style="color: brown;">*Campo obligatorio.</span>
                                            </div>
                                            <div class="error-message"
                                                *ngIf="ClienteForms.get('cli_identificacion')?.value != ''
                                ? validar.Tipo_Identificacion(ClienteForms.get('cli_identificacion')?.value!,ClienteForms.get('cli_tipo_identificacion')?.value!)  === false:null ">
                                                <span style="color: brown;">*Dijitos incorrectos</span>
                                            </div>
                                        </Section>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cli_nombres" placeholder=""
                                            formControlName="cli_nombres">
                                        <label class="truncate-text" for="cli_nombres"><small>*</small>Nombres</label>
                                        <Section>
                                            <div class="error-message" *ngIf="ClienteForms.get('cli_nombres')?.hasError('required') 
                                        && ClienteForms.get('cli_nombres')?.touched">
                                                <span style="color: brown;">*Campo obligatorio.</span>
                                            </div>
                                        </Section>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12">
                                    <div class="form-group">
                                        <span>Genero</span>
                                        <select style="height: 35px;" class="form-select" formControlName="cli_genero">
                                            <option *ngFor="let s of Genero" [value]="s.value">
                                                {{s.name}}
                                            </option>
                                        </select>
                                        <Section>
                                            <div class="error-message" *ngIf="ClienteForms.get('cli_genero')?.hasError('required') 
                                        && ClienteForms.get('cli_genero')?.touched">
                                                <span style="color: brown;">*Campo obligatorio.</span>
                                            </div>
                                        </Section>

                                    </div>
                                </div>
                                <div class="col-md-2 col-12">
                                    <div class="form-group">
                                        <span><small>*</small>Estado Civil</span>
                                        <select style="height: 35px;" class="form-select"
                                            formControlName="cli_estado_civil">
                                            <option *ngFor="let s of EstadoCivil" [value]="s.value">
                                                {{s.name}}
                                            </option>
                                        </select>
                                        <Section>
                                            <div class="error-message" *ngIf="ClienteForms.get('cli_estado_civil')?.hasError('required') 
                                        && ClienteForms.get('cli_estado_civil')?.touched">
                                                <span style="color: brown;">*Campo obligatorio.</span>
                                            </div>
                                        </Section>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cli_ocupacion" placeholder=""
                                            formControlName="cli_ocupacion">
                                        <label class="truncate-text" for="cli_ocupacion">Ocupacion</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" id="cli_fecha_nacimiento" placeholder=""
                                            formControlName="cli_fecha_nacimiento">
                                        <label class="truncate-text" for="cli_fecha_nacimiento"><small>*</small>Fecha de
                                            Nacimiento</label>
                                        <Section>
                                            <div class="error-message" *ngIf="ClienteForms.get('cli_fecha_nacimiento')?.hasError('required') 
                                        && ClienteForms.get('cli_fecha_nacimiento')?.touched">
                                                <span style="color: brown;">*Campo obligatorio.</span>
                                            </div>
                                        </Section>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cli_score" placeholder=""
                                            formControlName="cli_score">
                                        <label class="truncate-text" for="cli_score">Calificación</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="Centrar">
                                        <div class="btn-group">
                                            <div class="form-group">
                                                <label class="truncate-text" for="cli_fallecido">Fallecido</label>&nbsp;
                                                <div class="custom-control custom-switch Centrar" title="Fallecido">
                                                    <input type="checkbox" class="custom-control-input"
                                                        formControlName="cli_fallecido" name="fallecido"
                                                        id="cli_fallecido">
                                                    <label class="custom-control-label"
                                                        for="cli_fallecido">{{ClienteForms.get('cli_fallecido')!.value
                                                        == false ?
                                                        'NO' : 'SI'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" id="cli_fecha_fallecido" placeholder=""
                                            formControlName="cli_fecha_fallecido">
                                        <label class="truncate-text" for="cli_fecha_fallecido">Fecha de
                                            defuncion</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cli_observacion" placeholder=""
                                            formControlName="cli_observacion">
                                        <label class="truncate-text" for="cli_observacion">Observación</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cli_provincia" placeholder=""
                                            formControlName="cli_provincia">
                                        <label class="truncate-text" for="cli_provincia">Provincia</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cli_canton" placeholder=""
                                            formControlName="cli_canton">
                                        <label class="truncate-text" for="cli_canton">Canton</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="cli_parroquia" placeholder=""
                                            formControlName="cli_parroquia">
                                        <label class="truncate-text" for="cli_parroquia">Parroquia</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="Centrar">
                                        <div class="btn-group">
                                            <div class="form-group">
                                                <label class="truncate-text" for="cli_esactivo">Estado</label>&nbsp;
                                                <div class="custom-control custom-switch Centrar" title="Estado">
                                                    <input type="checkbox" class="custom-control-input"
                                                        formControlName="cli_esactivo" name="estado" id="cli_esactivo">
                                                    <label class="custom-control-label"
                                                        for="cli_esactivo">{{ClienteForms.get('cli_esactivo')!.value
                                                        == false ?
                                                        'Inactivo' : 'Activo'}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="card-footer" style="background-color: var(--color-formulario-terciario);">
                        <div class="row Centrar ">
                            <small>
                                <button class="btnAceptar" [disabled]="ClienteForms.invalid" *ngIf="!ModoVistaCliente"
                                    id="btnAgregar" (click)="GuardarObjetoCliente(ClienteForms.value)">Guardar</button>
                                <button class="btnCancelar ml-3" (click)="CerrarModalCliente()">Cancelar</button>
                            </small>
                        </div>
                    </div>



                </div>
            </section>

        </div>
    </div>
</section>
<section class="modal" id="ModalTipoTrabajos">
    <div class="modal__container ">
        <div class="col-sm alert" style="background-color: var(--color-formulario-primario);">
            <button type="button" (click)="CerrarModalTipoTrabajos()" class="btn btn-close float-right"></button>
            <h2 class="modal__title Centrar">{{ModoVistaCliente == true?'Ver':'Agregar'}} Cliente</h2>

            <section class="vertical-center" *ngIf="TituloFormulario != ''">
                <div class="card-body" style="background-color: var(--color-formulario-secundario);">
                    <div class="card-body" style="background-color: var(--color-formulario-secundario);">
                        <form [formGroup]="TipoTrabajoForms">
                            <div class="row">
                                <div id="descripcion"
                                    class="{{TituloFormulario == 'Agregar'?'col-lg-8':'col-lg-4'}} col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="trab_tip_descripcion" placeholder=""
                                            formControlName="trab_tip_descripcion">
                                        <label class="truncate-text" for="trab_tip_descripcion">Descripcion</label>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="Centrar">
                                        <div class="btn-group">
                                            <div class="form-group">
                                                <label class="truncate-text"
                                                    for="trab_tip_esactivo">Estado</label>&nbsp;
                                                <div class="custom-control custom-switch Centrar" title="Estado">
                                                    <input type="checkbox" class="custom-control-input"
                                                        formControlName="trab_tip_esactivo" name="estado"
                                                        id="trab_tip_esactivo">
                                                    <label class="custom-control-label"
                                                        for="trab_tip_esactivo">{{TipoTrabajoForms.get('trab_tip_esactivo')!.value
                                                        == false ?
                                                        'Inactivo' : 'Activo'}}</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>


                    <div class="card-footer" style="background-color: var(--color-formulario-terciario);">
                        <div class="row Centrar ">
                            <small>
                                <button class="btnAceptar" [disabled]="TipoTrabajoForms.invalid" id="btnAgregar"
                                    (click)="GuardarObjetoTipoTrabajos(TipoTrabajoForms.value)">Guardar</button>
                                <button class="btnCancelar ml-3" (click)="CerrarModalTipoTrabajos()">Cancelar</button>
                            </small>
                        </div>
                    </div>



                </div>
            </section>

        </div>
    </div>
</section>


<ng-template #loadingOrError>
    <section>
        <div class="ContenidoCentrado">
            <div class="loader"></div>
        </div>
    </section>
</ng-template>
<ng-template #loadingOrError1>
    <section>
        <div class="ContenidoCentrado">
            <div class="loader1"></div>
        </div>
    </section>
</ng-template>