/* alto maximo */
@media screen and (max-height: 500px) {
}

/* alto minimo */
@media screen and (mix-height: 501px) {
}
/* ancho maximo */
@media screen and (max-width: 450px) {
  .OcultarMax450px {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .OcultarMax960px {
    display: none;
  }
}

/* ancho minimo */
@media screen and (min-width: 451px) {
  .OcultarMin450px {
    display: none;
  }
}




.vertical-center {
  animation: scale-up-vertical-center 0.6s;
}
@keyframes scale-up-vertical-center {
  0% {
    transform: scaleY(0.2);
  }
  100% {
    transform: scaleY(1);
  }
}

.horizontal-center {
  animation: scale-up-horizontal-center 0.6s;
}
@keyframes scale-up-horizontal-center {
  0% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes tracking-in-expand-forward-top {
  0% {
    letter-spacing: -0.2em;
    transform: translateZ(-700px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.expand-bottom {
  animation: tracking-in-expand-forward-bottom 0.4s linear both;
}
@keyframes tracking-in-expand-forward-bottom {
  0% {
    letter-spacing: -0.2em;
    transform: translateZ(-700px) translateY(100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
